.hero{
    background-color: rgb(255, 255, 255);
    opacity: 80%;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 100%;
    height: auto;
    width: auto\9;
    
}

#parent1{
    background-image: url(bg.jpg);
    height: fit-content;
}


h2{
    text-align: center;
    
    background-color: rgb(105, 105, 105);
    border-radius: 10px;
    width: 200px;
    height: 40px;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    

}
h1{
    text-align: center;
    
    font-size: 10vw;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    max-width: 100%;
    height: auto*100;
    width: auto\9;
}

body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    height: fit-content;

}


.center{
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    
   

    
   
}

.hero-image{
    background-image: url(bg.jpg);
    height: fit-content;
}


.box{
    
    width: auto;
    height: 500px;
    background: url(bg.img);
    
    
}

img{
    max-width: 100%;
    height: auto;
    width: auto\9;
}

h3{
    height: 950px;
    font-size: 10vw;
    text-align: center;
    color: aliceblue;
    max-width: 100%;
    height: auto;
    width: auto\9;
    
}

p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px
}
h4{
    font-size: 50px;
    text-align: center;

}

.container{
    width: auto;
    height: 1000px;
}